In [6]:
import requests
import os
from dotenv import load_dotenv

In [7]:
load_dotenv()

True

In [8]:
ticker = "AAPL"
API_KEY = os.getenv('ALPHA_VANTAGE_API_KEY')

In [9]:
    # replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={ticker}&apikey={API_KEY}'
r = requests.get(url)
data = r.json()

print(data)

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

In [5]:
data

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

In [6]:
type(data['Time Series (Daily)'])

KeyError: 'Time Series (Daily)'

In [ ]:
data['Time Series (Daily)']['2024-12-18']

{'1. open': '252.1600',
 '2. high': '254.2800',
 '3. low': '247.7400',
 '4. close': '248.0500',
 '5. volume': '56774101'}

In [5]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=60min&apikey={API_KEY}'
r = requests.get(url)
data = r.json()

print(data)

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

In [ ]:
type(data['Time Series (60min)'])

dict

In [ ]:
len(data['Time Series (60min)'])

100

In [ ]:
data['Time Series (60min)']

{'2025-02-24 19:00:00': {'1. open': '247.6100',
  '2. high': '248.4500',
  '3. low': '247.5500',
  '4. close': '248.0600',
  '5. volume': '45649'},
 '2025-02-24 18:00:00': {'1. open': '247.7700',
  '2. high': '248.0500',
  '3. low': '247.4000',
  '4. close': '247.6000',
  '5. volume': '72912'},
 '2025-02-24 17:00:00': {'1. open': '247.8910',
  '2. high': '265.1391',
  '3. low': '247.1000',
  '4. close': '247.7800',
  '5. volume': '64103'},
 '2025-02-24 16:00:00': {'1. open': '247.2200',
  '2. high': '248.2000',
  '3. low': '236.8500',
  '4. close': '247.8900',
  '5. volume': '18577671'},
 '2025-02-24 15:00:00': {'1. open': '247.9650',
  '2. high': '248.2300',
  '3. low': '246.8200',
  '4. close': '247.2300',
  '5. volume': '6807237'},
 '2025-02-24 14:00:00': {'1. open': '247.9800',
  '2. high': '248.8000',
  '3. low': '247.4300',
  '4. close': '247.9800',
  '5. volume': '4424448'},
 '2025-02-24 13:00:00': {'1. open': '247.2700',
  '2. high': '248.2200',
  '3. low': '247.2200',
  '4. close': '247.9800',
  '5. volume': '3100347'},
 '2025-02-24 12:00:00': {'1. open': '248.0000',
  '2. high': '248.2800',
  '3. low': '247.2700',
  '4. close': '247.2700',
  '5. volume': '2581892'},
 '2025-02-24 11:00:00': {'1. open': '247.2200',
  '2. high': '248.3200',
  '3. low': '246.2700',
  '4. close': '248.0000',
  '5. volume': '4959229'},
 '2025-02-24 10:00:00': {'1. open': '248.0800',
  '2. high': '248.8600',
  '3. low': '244.8241',
  '4. close': '247.2250',
  '5. volume': '9076535'},
 '2025-02-24 09:00:00': {'1. open': '244.3300',
  '2. high': '248.1400',
  '3. low': '243.0700',
  '4. close': '248.0650',
  '5. volume': '7387893'},
 '2025-02-24 08:00:00': {'1. open': '243.9000',
  '2. high': '246.0000',
  '3. low': '241.5738',
  '4. close': '244.3700',
  '5. volume': '292062'},
 '2025-02-24 07:00:00': {'1. open': '243.8600',
  '2. high': '244.4000',
  '3. low': '243.4600',
  '4. close': '243.8800',
  '5. volume': '172185'},
 '2025-02-24 06:00:00': {'1. open': '245.2100',
  '2. high': '245.2700',
  '3. low': '241.5500',
  '4. close': '243.8000',
  '5. volume': '340006'},
 '2025-02-24 05:00:00': {'1. open': '245.2600',
  '2. high': '245.2900',
  '3. low': '245.1000',
  '4. close': '245.2000',
  '5. volume': '17861'},
 '2025-02-24 04:00:00': {'1. open': '245.3900',
  '2. high': '245.9000',
  '3. low': '245.0000',
  '4. close': '245.2200',
  '5. volume': '32697'},
 '2025-02-21 19:00:00': {'1. open': '245.1800',
  '2. high': '245.2867',
  '3. low': '245.0000',
  '4. close': '245.0300',
  '5. volume': '25955'},
 '2025-02-21 18:00:00': {'1. open': '245.2800',
  '2. high': '245.5500',
  '3. low': '233.1900',
  '4. close': '245.1800',
  '5. volume': '53596'},
 '2025-02-21 17:00:00': {'1. open': '245.3000',
  '2. high': '245.5500',
  '3. low': '245.0000',
  '4. close': '245.2000',
  '5. volume': '55564'},
 '2025-02-21 16:00:00': {'1. open': '245.5900',
  '2. high': '247.1367',
  '3. low': '245.3000',
  '4. close': '245.3000',
  '5. volume': '15723056'},
 '2025-02-21 15:00:00': {'1. open': '245.9100',
  '2. high': '246.0900',
  '3. low': '245.3300',
  '4. close': '245.5900',
  '5. volume': '9671954'},
 '2025-02-21 14:00:00': {'1. open': '247.7500',
  '2. high': '247.8700',
  '3. low': '245.6320',
  '4. close': '245.9200',
  '5. volume': '5756020'},
 '2025-02-21 13:00:00': {'1. open': '248.4500',
  '2. high': '248.4900',
  '3. low': '247.0400',
  '4. close': '247.7400',
  '5. volume': '6251065'},
 '2025-02-21 12:00:00': {'1. open': '247.0200',
  '2. high': '248.6900',
  '3. low': '246.9000',
  '4. close': '248.4300',
  '5. volume': '5251304'},
 '2025-02-21 11:00:00': {'1. open': '245.8150',
  '2. high': '247.5000',
  '3. low': '245.8150',
  '4. close': '247.0150',
  '5. volume': '6574468'},
 '2025-02-21 10:00:00': {'1. open': '245.6400',
  '2. high': '246.0100',
  '3. low': '245.2200',
  '4. close': '245.8300',
  '5. volume': '3766935'},
 '2025-02-21 09:00:00': {'1. open': '245.9400',
  '2. high': '246.9400',
  '3. low': '245.2500',
  '4. close': '245.6900',
  '5. volume': '6217521'},
 '2025-02-21 08:00:00': {'1. open': '245.6325',
  '2. high': '246.2000',
  '3. low': '244.8400',
  '4. close': '245.8900',
  '5. volume': '90254'},
 '2025-02-21 07:00:00': {'1. open': '245.4000',
  '2. high': '245.8300',
  '3. low': '245.3600',
  '4. close': '245.7500',
  '5. volume': '17797'},
 '2025-02-21 06:00:00': {'1. open': '245.3500',
  '2. high': '245.4500',
  '3. low': '245.3000',
  '4. close': '245.4000',
  '5. volume': '4687'},
 '2025-02-21 05:00:00': {'1. open': '245.4000',
  '2. high': '245.4000',
  '3. low': '245.2400',
  '4. close': '245.3100',
  '5. volume': '9848'},
 '2025-02-21 04:00:00': {'1. open': '246.0000',
  '2. high': '246.0000',
  '3. low': '245.1200',
  '4. close': '245.3600',
  '5. volume': '12480'},
 '2025-02-20 19:00:00': {'1. open': '245.6500',
  '2. high': '245.7500',
  '3. low': '245.5700',
  '4. close': '245.6000',
  '5. volume': '7499'},
 '2025-02-20 18:00:00': {'1. open': '245.6500',
  '2. high': '245.8300',
  '3. low': '245.5000',
  '4. close': '245.6900',
  '5. volume': '36527'},
 '2025-02-20 17:00:00': {'1. open': '245.7200',
  '2. high': '251.7307',
  '3. low': '234.0006',
  '4. close': '245.6700',
  '5. volume': '1147732'},
 '2025-02-20 16:00:00': {'1. open': '245.8600',
  '2. high': '245.8600',
  '3. low': '245.6000',
  '4. close': '245.7200',
  '5. volume': '10284514'},
 '2025-02-20 15:00:00': {'1. open': '245.3300',
  '2. high': '246.0000',
  '3. low': '245.2724',
  '4. close': '245.8600',
  '5. volume': '4357865'},
 '2025-02-20 14:00:00': {'1. open': '245.3300',
  '2. high': '245.7500',
  '3. low': '244.8500',
  '4. close': '245.3350',
  '5. volume': '2008507'},
 '2025-02-20 13:00:00': {'1. open': '245.3690',
  '2. high': '245.8178',
  '3. low': '245.0200',
  '4. close': '245.3506',
  '5. volume': '2066070'},
 '2025-02-20 12:00:00': {'1. open': '245.2650',
  '2. high': '246.4600',
  '3. low': '245.0300',
  '4. close': '245.3600',
  '5. volume': '2819029'},
 '2025-02-20 11:00:00': {'1. open': '245.1100',
  '2. high': '246.7000',
  '3. low': '245.0800',
  '4. close': '245.2750',
  '5. volume': '5034401'},
 '2025-02-20 10:00:00': {'1. open': '244.9000',
  '2. high': '245.3539',
  '3. low': '244.2900',
  '4. close': '245.0700',
  '5. volume': '3902573'},
 '2025-02-20 09:00:00': {'1. open': '243.7967',
  '2. high': '246.7800',
  '3. low': '243.7600',
  '4. close': '244.9000',
  '5. volume': '4542419'},
 '2025-02-20 08:00:00': {'1. open': '244.1262',
  '2. high': '244.9020',
  '3. low': '243.5000',
  '4. close': '243.7800',
  '5. volume': '148481'},
 '2025-02-20 07:00:00': {'1. open': '243.8200',
  '2. high': '244.6100',
  '3. low': '243.8200',
  '4. close': '244.4600',
  '5. volume': '17999'},
 '2025-02-20 06:00:00': {'1. open': '244.1200',
  '2. high': '244.1600',
  '3. low': '243.8000',
  '4. close': '243.8300',
  '5. volume': '10681'},
 '2025-02-20 05:00:00': {'1. open': '244.1000',
  '2. high': '244.2400',
  '3. low': '244.0000',
  '4. close': '244.1300',
  '5. volume': '11782'},
 '2025-02-20 04:00:00': {'1. open': '244.4000',
  '2. high': '244.4000',
  '3. low': '243.7700',
  '4. close': '244.1300',
  '5. volume': '29494'},
 '2025-02-19 19:00:00': {'1. open': '244.6500',
  '2. high': '258.4298',
  '3. low': '236.4454',
  '4. close': '244.8000',
  '5. volume': '11829'},
 '2025-02-19 18:00:00': {'1. open': '244.3700',
  '2. high': '244.9800',
  '3. low': '244.3000',
  '4. close': '244.7200',
  '5. volume': '18184'},
 '2025-02-19 17:00:00': {'1. open': '244.5600',
  '2. high': '244.6000',
  '3. low': '244.2500',
  '4. close': '244.3300',
  '5. volume': '20025'},
 '2025-02-19 16:00:00': {'1. open': '244.8900',
  '2. high': '245.0400',
  '3. low': '243.6750',
  '4. close': '244.5800',
  '5. volume': '11734755'},
 '2025-02-19 15:00:00': {'1. open': '244.8400',
  '2. high': '245.1800',
  '3. low': '244.5350',
  '4. close': '244.8900',
  '5. volume': '4551739'},
 '2025-02-19 14:00:00': {'1. open': '244.7400',
  '2. high': '245.0800',
  '3. low': '244.2200',
  '4. close': '244.8350',
  '5. volume': '2254718'},
 '2025-02-19 13:00:00': {'1. open': '244.7300',
  '2. high': '245.1899',
  '3. low': '244.2300',
  '4. close': '244.7300',
  '5. volume': '1825641'},
 '2025-02-19 12:00:00': {'1. open': '244.7900',
  '2. high': '245.6600',
  '3. low': '244.6273',
  '4. close': '244.7200',
  '5. volume': '2598159'},
 '2025-02-19 11:00:00': {'1. open': '243.4100',
  '2. high': '244.9499',
  '3. low': '243.1604',
  '4. close': '244.7800',
  '5. volume': '3620150'},
 '2025-02-19 10:00:00': {'1. open': '245.0700',
  '2. high': '245.5800',
  '3. low': '243.2600',
  '4. close': '243.4200',
  '5. volume': '4171289'},
 '2025-02-19 09:00:00': {'1. open': '244.1200',
  '2. high': '246.0100',
  '3. low': '243.7300',
  '4. close': '245.0700',
  '5. volume': '3963073'},
 '2025-02-19 08:00:00': {'1. open': '244.6490',
  '2. high': '245.2500',
  '3. low': '233.2200',
  '4. close': '244.1100',
  '5. volume': '1730094'},
 '2025-02-19 07:00:00': {'1. open': '243.8400',
  '2. high': '244.3400',
  '3. low': '243.8200',
  '4. close': '244.2300',
  '5. volume': '19431'},
 '2025-02-19 06:00:00': {'1. open': '244.1100',
  '2. high': '244.1800',
  '3. low': '243.7400',
  '4. close': '243.8200',
  '5. volume': '16297'},
 '2025-02-19 05:00:00': {'1. open': '244.6000',
  '2. high': '244.6600',
  '3. low': '244.0000',
  '4. close': '244.0400',
  '5. volume': '15630'},
 '2025-02-19 04:00:00': {'1. open': '245.2100',
  '2. high': '245.5500',
  '3. low': '244.5200',
  '4. close': '244.5600',
  '5. volume': '22025'},
 '2025-02-18 19:00:00': {'1. open': '244.9500',
  '2. high': '245.4500',
  '3. low': '244.8000',
  '4. close': '245.4000',
  '5. volume': '39742'},
 '2025-02-18 18:00:00': {'1. open': '244.5800',
  '2. high': '244.9900',
  '3. low': '244.5800',
  '4. close': '244.9012',
  '5. volume': '25642'},
 '2025-02-18 17:00:00': {'1. open': '244.5300',
  '2. high': '247.6583',
  '3. low': '227.4311',
  '4. close': '244.5500',
  '5. volume': '598794'},
 '2025-02-18 16:00:00': {'1. open': '244.4700',
  '2. high': '244.7500',
  '3. low': '243.7517',
  '4. close': '244.5500',
  '5. volume': '24210718'},
 '2025-02-18 15:00:00': {'1. open': '243.6989',
  '2. high': '244.9530',
  '3. low': '243.1500',
  '4. close': '244.4600',
  '5. volume': '6176542'},
 '2025-02-18 14:00:00': {'1. open': '242.6100',
  '2. high': '243.8350',
  '3. low': '241.8400',
  '4. close': '243.6950',
  '5. volume': '3285269'},
 '2025-02-18 13:00:00': {'1. open': '243.9700',
  '2. high': '244.1155',
  '3. low': '242.3101',
  '4. close': '242.6200',
  '5. volume': '3184600'},
 '2025-02-18 12:00:00': {'1. open': '244.8950',
  '2. high': '244.9500',
  '3. low': '243.9300',
  '4. close': '243.9750',
  '5. volume': '2218460'},
 '2025-02-18 11:00:00': {'1. open': '244.3300',
  '2. high': '245.0500',
  '3. low': '244.2200',
  '4. close': '244.8900',
  '5. volume': '3422221'},
 '2025-02-18 10:00:00': {'1. open': '244.9840',
  '2. high': '245.0972',
  '3. low': '243.8600',
  '4. close': '244.3300',
  '5. volume': '4302409'},
 '2025-02-18 09:00:00': {'1. open': '244.7300',
  '2. high': '245.1800',
  '3. low': '242.8200',
  '4. close': '244.9300',
  '5. volume': '6905979'},
 '2025-02-18 08:00:00': {'1. open': '244.7500',
  '2. high': '245.5700',
  '3. low': '241.3750',
  '4. close': '244.7500',
  '5. volume': '1229301'},
 '2025-02-18 07:00:00': {'1. open': '244.7400',
  '2. high': '245.0000',
  '3. low': '244.6400',
  '4. close': '244.9500',
  '5. volume': '55745'},
 '2025-02-18 06:00:00': {'1. open': '244.9400',
  '2. high': '245.2000',
  '3. low': '244.6400',
  '4. close': '244.7100',
  '5. volume': '26349'},
 '2025-02-18 05:00:00': {'1. open': '244.9400',
  '2. high': '244.9600',
  '3. low': '244.7900',
  '4. close': '244.9400',
  '5. volume': '14860'},
 '2025-02-18 04:00:00': {'1. open': '243.8900',
  '2. high': '245.8800',
  '3. low': '243.8900',
  '4. close': '244.9400',
  '5. volume': '38642'},
 '2025-02-14 19:00:00': {'1. open': '244.5075',
  '2. high': '244.8000',
  '3. low': '244.5000',
  '4. close': '244.6400',
  '5. volume': '8777'},
 '2025-02-14 18:00:00': {'1. open': '244.5800',
  '2. high': '244.7925',
  '3. low': '244.2500',
  '4. close': '244.6700',
  '5. volume': '54023'},
 '2025-02-14 17:00:00': {'1. open': '244.7900',
  '2. high': '244.7900',
  '3. low': '243.2133',
  '4. close': '244.4900',
  '5. volume': '560697'},
 '2025-02-14 16:00:00': {'1. open': '244.5700',
  '2. high': '245.0000',
  '3. low': '244.2976',
  '4. close': '244.8100',
  '5. volume': '12811327'},
 '2025-02-14 15:00:00': {'1. open': '244.2650',
  '2. high': '245.5500',
  '3. low': '243.9100',
  '4. close': '244.5700',
  '5. volume': '6329664'},
 '2025-02-14 14:00:00': {'1. open': '244.1602',
  '2. high': '244.3700',
  '3. low': '243.9400',
  '4. close': '244.2683',
  '5. volume': '1987317'},
 '2025-02-14 13:00:00': {'1. open': '243.9150',
  '2. high': '244.5400',
  '3. low': '243.8000',
  '4. close': '244.1600',
  '5. volume': '1927290'},
 '2025-02-14 12:00:00': {'1. open': '244.3700',
  '2. high': '244.5300',
  '3. low': '243.3400',
  '4. close': '243.9100',
  '5. volume': '3785102'},
 '2025-02-14 11:00:00': {'1. open': '244.2800',
  '2. high': '244.4500',
  '3. low': '243.1600',
  '4. close': '244.3800',
  '5. volume': '3739684'},
 '2025-02-14 10:00:00': {'1. open': '244.3100',
  '2. high': '245.0500',
  '3. low': '243.1800',
  '4. close': '244.2800',
  '5. volume': '7464197'},
 '2025-02-14 09:00:00': {'1. open': '240.8300',
  '2. high': '244.4200',
  '3. low': '236.8600',
  '4. close': '244.3200',
  '5. volume': '6417866'},
 '2025-02-14 08:00:00': {'1. open': '241.7335',
  '2. high': '242.4600',
  '3. low': '240.4400',
  '4. close': '240.8200',
  '5. volume': '258220'},
 '2025-02-14 07:00:00': {'1. open': '240.7200',
  '2. high': '241.0200',
  '3. low': '240.6400',
  '4. close': '240.9500',
  '5. volume': '37473'},
 '2025-02-14 06:00:00': {'1. open': '241.5100',
  '2. high': '241.7100',
  '3. low': '240.4400',
  '4. close': '240.6900',
  '5. volume': '65008'},
 '2025-02-14 05:00:00': {'1. open': '241.0600',
  '2. high': '241.5900',
  '3. low': '240.6200',
  '4. close': '241.5100',
  '5. volume': '41617'},
 '2025-02-14 04:00:00': {'1. open': '242.0000',
  '2. high': '242.0000',
  '3. low': '241.0200',
  '4. close': '241.0700',
  '5. volume': '49889'},
 '2025-02-13 19:00:00': {'1. open': '241.3200',
  '2. high': '241.6200',
  '3. low': '241.2000',
  '4. close': '241.3800',
  '5. volume': '57939'},
 '2025-02-13 18:00:00': {'1. open': '241.2000',
  '2. high': '241.4975',
  '3. low': '241.1800',
  '4. close': '241.3100',
  '5. volume': '18098'},
 '2025-02-13 17:00:00': {'1. open': '241.3200',
  '2. high': '252.5918',
  '3. low': '241.0900',
  '4. close': '241.2900',
  '5. volume': '1275270'},
 '2025-02-13 16:00:00': {'1. open': '241.5200',
  '2. high': '242.0000',
  '3. low': '241.2100',
  '4. close': '241.3199',
  '5. volume': '25964313'}}

In [ ]:
import pandas as pd
df = pd.DataFrame.from_dict(data['Time Series (60min)'], orient='index')

In [ ]:
df

                      1. open   2. high    3. low  4. close 5. volume
2025-02-24 19:00:00  247.6100  248.4500  247.5500  248.0600     45649
2025-02-24 18:00:00  247.7700  248.0500  247.4000  247.6000     72912
2025-02-24 17:00:00  247.8910  265.1391  247.1000  247.7800     64103
2025-02-24 16:00:00  247.2200  248.2000  236.8500  247.8900  18577671
2025-02-24 15:00:00  247.9650  248.2300  246.8200  247.2300   6807237
...                       ...       ...       ...       ...       ...
2025-02-14 04:00:00  242.0000  242.0000  241.0200  241.0700     49889
2025-02-13 19:00:00  241.3200  241.6200  241.2000  241.3800     57939
2025-02-13 18:00:00  241.2000  241.4975  241.1800  241.3100     18098
2025-02-13 17:00:00  241.3200  252.5918  241.0900  241.2900   1275270
2025-02-13 16:00:00  241.5200  242.0000  241.2100  241.3199  25964313

[100 rows x 5 columns]

In [ ]:
#change the column names
df.columns = ['open', 'high', 'low', 'close', 'volume']

In [ ]:
df['close'] = df['close'].astype(float)
df['daily_returns'] = df['close'].pct_change()
df

,open,high,low,close,volume,daily_returns
2025-02-24 19:00:00,247.6100,248.4500,247.5500,248.0600,45649,NaN
2025-02-24 18:00:00,247.7700,248.0500,247.4000,247.6000,72912,-0.001854
2025-02-24 17:00:00,247.8910,265.1391,247.1000,247.7800,64103,0.000727
2025-02-24 16:00:00,247.2200,248.2000,236.8500,247.8900,18577671,0.000444
2025-02-24 15:00:00,247.9650,248.2300,246.8200,247.2300,6807237,-0.002662
...,...,...,...,...,...,...
2025-02-14 04:00:00,242.0000,242.0000,241.0200,241.0700,49889,-0.001822
2025-02-13 19:00:00,241.3200,241.6200,241.2000,241.3800,57939,0.001286
2025-02-13 18:00:00,241.2000,241.4975,241.1800,241.3100,18098,-0.000290
2025-02-13 17:00:00,241.3200,252.5918,241.0900,241.2900,1275270,-0.000083
2025-02-13 16:00:00,241.5200,242.0000,241.2100,241.3199,25964313,0.000124

In [ ]:
#name the index column 
df.index.name = 'timestamp'
df

,open,high,low,close,volume,daily_returns
timestamp,,,,,,
2025-02-24 19:00:00,247.6100,248.4500,247.5500,248.0600,45649,NaN
2025-02-24 18:00:00,247.7700,248.0500,247.4000,247.6000,72912,-0.001854
2025-02-24 17:00:00,247.8910,265.1391,247.1000,247.7800,64103,0.000727
2025-02-24 16:00:00,247.2200,248.2000,236.8500,247.8900,18577671,0.000444
2025-02-24 15:00:00,247.9650,248.2300,246.8200,247.2300,6807237,-0.002662
...,...,...,...,...,...,...
2025-02-14 04:00:00,242.0000,242.0000,241.0200,241.0700,49889,-0.001822
2025-02-13 19:00:00,241.3200,241.6200,241.2000,241.3800,57939,0.001286
2025-02-13 18:00:00,241.2000,241.4975,241.1800,241.3100,18098,-0.000290
2025-02-13 17:00:00,241.3200,252.5918,241.0900,241.2900,1275270,-0.000083
2025-02-13 16:00:00,241.5200,242.0000,241.2100,241.3199,25964313,0.000124